@import "tailwindcss";

/* brand tokens */
:root {
  --brand-black: #000000;
  --brand-white: #ffffff;
  --brand-red: #e11d48; /* tweak if you like */
}

html,
body,
#root {
  height: 100%;
}
body {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

/* tiny scrollbar for horizontal carousels */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 9999px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
